<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login Form Design One | Fazt</title>
</head>
<body>

<div class="login-box">
  <img src="../../assets/imagenes/LogoForm.png" class="avatar" alt="Avatar Image">
  <h1>Iniciar Sesión</h1>
  <form>
    <!-- USERNAME INPUT -->
    <label for="username">Correo</label>
    <input id="email" type="email" placeholder="Ingresa tu correo" name="email" [(ngModel)]="email">
    <!-- PASSWORD INPUT -->
    <label for="password">Contraseña</label>
    <input id="password" type="password" placeholder="Ingresa tu constraseña" name="password" [(ngModel)]="password">
    <h1 type="hidden" class="text-red-500" style="font-size: 16px;">{{mensaje}}</h1>
    <input type="submit" style="margin-top: 18px;" (click)="ingresar()" value="Ingresar">
    <!--<a href="#">Don't have An account?</a>-->
    <p class="text-xs" style="text-align: center;" style="text-align: center;margin-top: 12px;">
      ¿No tienes una cuenta?<a class="link cursor-pointer" (click)="ingresar()"> Registrate</a></p>
  </form>
</div>
</body>
</html>
